# Python cache
__pycache__/
*.py[cod]
*$py.class
*.pyc
.Python

# Virtual environments
venv/
env/
.venv/
ENV/

# Environment variables
.env
.env.local

# IDE settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Test files
test.txt
services/test.py
s t a t i c / T h u m b n a i l - T e c h - A p p l e - P a y _ 2 x . p n g  
 s t a t i c / T h u m b n a i l - U I K i t - v i s i o n S 2 6 _ 2 x . p n g  
 s t a t i c / i c o n - 1 9 2 . p n g  
 c o o k i e s . t x t  
 
# Android and Capacitor builds/dependencies
android/*
!android/app/
android/app/*
!android/app/build.gradle
!android/app/src/
android/app/src/*
!android/app/src/main/
android/app/src/main/*
!android/app/src/main/AndroidManifest.xml
!android/app/src/main/java/
android/app/src/main/java/*
!android/app/src/main/java/com/
android/app/src/main/java/com/*
!android/app/src/main/java/com/aura/
android/app/src/main/java/com/aura/*
!android/app/src/main/java/com/aura/music/
android/app/src/main/java/com/aura/music/*
!android/app/src/main/java/com/aura/music/pro2/
android/app/src/main/java/com/aura/music/pro2/*
!android/app/src/main/java/com/aura/music/pro2/AuraPlaybackService.kt
!android/app/src/main/java/com/aura/music/pro2/AuraPlayerPlugin.kt
!android/app/src/main/java/com/aura/music/pro2/MainActivity.java
node_modules/

# Local database exclusions
/backend_db/*
!/backend_db/broadcasts.json.example
users.json
config.py
users.json
current_link.json
